# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# http://editorconfig.org

root = true

[*]

# Change these settings to your own preference
indent_style = space
indent_size = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.md,*.yaml,*.yml,*.xml,*.html,*.md.j2,*.yaml.j2,*.yml.j2,*.xml.j2,*.html.j2}]
trim_trailing_whitespace = false
indent_size = 2

[{*.cfg,*.conf,*.cfg.j2,*.conf.j2}]
trim_trailing_whitespace = false
indent_size = 4

[Makefile,rules]
indent_style = tab
