# https://runnable.com/docker/docker-compose-networking
# https://dockerlabs.collabnix.com/docker/cheatsheet
# https://github.com/compose-spec/compose-spec/blob/master/spec.md]
# # pwd=libresbc: docker-compose -f build/docker/docker-compose.yml up

services:
  rdb:
    hostname: rdb
    container_name: rdb
    restart: always
    image: redis:latest
    volumes:
      - /opt/libresbc/rdb:/data
    command: ['redis-server', '--loglevel', 'warning', '--dir', '/data', '--dbfilename', 'libresbc.rdb']
    network_mode: host
    tty: true
    labels:
      - libresbc.component=rdb
      - libresbc.version=1.0.0
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 15s
      start_interval: 4s

  liberator:
    hostname: liberator
    container_name: liberator
    restart: always
    image: hnimminh/libresbc-liberator:1.0.0-dev2
    volumes:
      - /var/log/libresbc/cdr:/var/log/libresbc/cdr
      - /opt/libresbc/liberator:/opt/libresbc/liberator
    command: ["/opt/libresbc/venv/bin/python3", "/opt/libresbc/liberator/main.py"]
    network_mode: host
    tty: true
    labels:
      - libresbc.component=liberator
      - libresbc.version=1.0.0
    env_file:
      - /opt/libresbc/libre.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8080/heartbeat"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 45s
      start_interval: 10s
    depends_on:
      rdb:
        condition: service_healthy

  switch:
    hostname: switch
    container_name: switch
    restart: always
    image: hnimminh/libresbc-freeswitch:1.10.12-13-trixie #hnimminh/libresbc-freeswitch:1.10.11
    volumes:
      - /var/log/libresbc/cdr:/var/log/libresbc/cdr
      - /opt/libresbc/fsw.xml:/usr/local/etc/freeswitch/freeswitch.xml
      - /opt/libresbc/callng:/opt/libresbc/callng
    command: ["/usr/local/bin/freeswitch", "-reincarnate"]
    network_mode: host
    tty: true
    labels:
      - libresbc.component=switch
      - libresbc.version=1.0.0
    env_file:
      - /opt/libresbc/libre.env
    environment:
      NODEID: devsbc
    depends_on:
      liberator:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "fs_cli -H 127.0.0.1 -P 8021 -p LIBRESBC -x status | grep -q ^UP || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 60s
      start_interval: 30s
