*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# LOOPBACK
-A INPUT -s 127.0.0.1 -j ACCEPT
-A INPUT -i lo -j ACCEPT

# ALLOW SELF-ATTEMPTED-TRAFFIC
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# ESSENTIAL PUBLIC SERVICES [ICMP, SSH]
-A INPUT -p icmp --icmp-type echo-request -j ACCEPT
-A INPUT -p icmp -m limit --limit  1/s --limit-burst 1 -j ACCEPT
-A INPUT -p tcp --dport 22 -m conntrack --ctstate NEW -m recent --set
-A INPUT -p tcp --dport 22 -m conntrack --ctstate NEW -m recent --update --seconds 60 --hitcount 10 -j DROP
-A INPUT -p tcp --dport 22 -s 0.0.0.0/0 -j ACCEPT

# SIP/RTP SERVICE FOR VENDOR
{% for sipinterface in sipinterfaces %}
-A INPUT -p udp --dport {{sipinterface.sip_port}} -m set --match-set sipset src -j ACCEPT
-A INPUT -p tcp --dport {{sipinterface.sip_port}} -m set --match-set sipset src -j ACCEPT
-A INPUT -p tcp --dport {{sipinterface.sips_port}} -m set --match-set sipset src -j ACCEPT
{% endfor %}
-A INPUT -p udp --dport {{sip.rtp_start_port}}:{{sip.rtp_end_port}} -m set --match-set rtpset src -j ACCEPT

# finally commit all the changes
COMMIT
