# -------------------------------: GENERAL
# REDIS as a database
REDIS_HOST = {{redis.host}}
REDIS_PORT = {{redis.port}}
REDIS_DB = {{redis.database}}
{% if redis.password %}
REDIS_PASSWORD = {{redis.password}}
{% endif %}
SCAN_COUNT = 1000
REDIS_TIMEOUT = 5

# log stack mean where log will be output
# value can be combine of FILE, SYSLOG, CONSOLE separated by comma `,`
LOGSTACKS=CONSOLE
# log level, default INFO
LOGLEVEL=INFO

# -------------------------------: LIBERATOR
# LIBRE_STANDALONE_MODEL
# LIBRE_BUILTIN_REDIS
# LIBRE_CONTAINERIZED
# LIBRE_BUILTIN_FIREWALL

#--------------------------------------------------------
# CALL RECOVERY CAPABILITY
#--------------------------------------------------------
{% if crcs is defined and crcs %}
CRC_CAPABILITY = {{crcs.recovery_capability}}
# when enable CRC_CAPABILITY, you need to declate postgress database
{% if "pgsql_host" in crcs %}CRC_PGSQL_HOST = {{crcs.pgsql_host}}
{% endif %}{% if "pgsql_port" in crcs %}CRC_PGSQL_PORT = {{crcs.pgsql_port}}
{% endif %}{% if "pgsql_username" in crcs %}CRC_PGSQL_USERNAME = {{crcs.pgsql_username}}
{% endif %}{% if "pgsql_password" in crcs %}CRC_PGSQL_PASSWORD = {{crcs.pgsql_password}}
{% endif %}{% if "pgsql_database" in crcs %}CRC_PGSQL_DATABASE = {{crcs.pgsql_database}}
{% endif %}{% endif %}

# -------------------------------: FREESWITCH
LIBERATOR_API_URL = {{liberator_api_url|default('http://127.0.0.1:8080')}}
{% if esl is defined and esl %}
ESL_HOST = {{esl.host|default('127.0.0.1')}}
ESL_PORT = {{esl.port|default('8021')}}
ESL_PASSWORD = {{esl.password|default('LIBRESBC')}}
{% endif %}

#--------------------------------------------------------
# HTTPCDR DATA: send cdr to HTTP server
#--------------------------------------------------------
{% if httpcdr is defined and httpcdr %}
HTTPCDR_ENDPOINTS = {{httpcdr.endpoints|join(',')}}
{% endif %}

#--------------------------------------------------------
# CDR FILE: write cdr to disk, default false
#--------------------------------------------------------
{% if diskcdr is defined and diskcdr %}
DISKCDR_ENABLE = YES
{% endif %}
{% if cdrfilename is defined and cdrfilename %}
CDRFNAME_INTERVAL = {{cdrfilename.interval}}
{% endif %}
{% if cdrfilename is defined and cdrfilename %}
CDRFNAME_FMT = {{cdrfilename.namefmt}}
{% endif %}
