[Unit]
Description=Liberator - Libre Master Daemon
After=network.target
Before=freeswitch.service

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=/opt/libresbc/libre.env
WorkingDirectory=/opt/libresbc/liberator
ExecStart=/opt/libresbc/venv/bin/python3 /opt/libresbc/liberator/main.py

SyslogIdentifier=libresbc
SyslogFacility=5
SyslogLevel=debug

TimeoutSec=30s
RemainAfterExit=no
Restart=always
RestartSec=10s

LimitSTACK=infinity
LimitNOFILE=1048576
LimitCORE=infinity
LimitDATA=infinity
LimitFSIZE=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity
LimitNPROC=infinity
LimitAS=infinity
LimitLOCKS=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
